# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=1433
DB_USER="sa"
DB_PASSWORD="Fleet@Str0ng!Pass"
DB_NAME="fleet_management"

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CACHE_TTL=60 # Cache time-to-live in seconds

# RabbitMQ
RABBITMQ_USER=fleet
RABBITMQ_PASSWORD=fleet
RABBITMQ_URI=amqp://fleet:fleet@localhost:5672

# Seed
SEED_USER_EMAIL=aivacol@aivacol.com.br
SEED_USER_PASSWORD=aivacol
